# vim: ft=toml
{{ if (eq .fonts true) }}
[".local/share/fonts/code-new-roman"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/CodeNewRoman.tar.xz"
    exact = true
[".local/share/fonts/cantarell"]
    type = "archive"
    url = "https://www.1001fonts.com/download/cantarell.zip"
    exact = true
[".local/share/fonts/0xproto"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.1.1/0xProto.tar.xz"
    exact = true
{{ end }}
