{{ if eq .tmux true }}
# Opens in tmux, provided tmux is installed and is not already
# launched.
if command -v tmux &> /dev/null && [ -n "$PS1" ] && [ -z "$TMUX" ]; then
    tmux list-sessions || exec tmux new-session && exec tmux attach

    {{ if eq .shell "fish" }}
        else
            # Start fish
            [ -x /bin/fish ] && SHELL=/bin/fish exec fish
    {{ end }}
fi
{{ end }}

{{ else if eq .shell "fish" }}
# Start fish
[ -x /bin/fish ] && SHELL=/bin/fish exec fish
{{ end }}
